@inherits LayoutComponentBase

<div class="admin-layout">
    <aside class="admin-sidebar">
        <NavMenu />
    </aside>

    <div class="admin-main">
        <div class="admin-content">
            @Body
        </div>
    </div>
</div>

<div id="blazor-error-ui" class="blazor-error-boundary">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">X</a>
</div>
