@inject ILocalizationService L
<!DOCTYPE html>
<html lang="@L.CurrentLanguage">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StickBy</title>
    <link rel="stylesheet" href="~/css/app.css" />
</head>
<body>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
